# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 120
trim_trailing_whitespace = true

tab_width = 4

insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml,js}]
indent_size = 2

[*.{kt,kts}]
ktlint_code_style = android_studio
ktlint_standard = enabled
ktlint_experimental = enabled

# Composable, Test 関数は PascalCase でも警告がでないようにする
ktlint_function_naming_ignore_when_annotated_with = Composable, Test

ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# when の分岐間に改行を入れない
ij_kotlin_line_break_after_multiline_when_entry = false

ktlint_standard_property-naming = enabled

ktlint_standard_function-expression-body = enabled

max_line_length = off

ktlint_argument_list_wrapping_ignore_when_parameter_count_greater_or_equal_than = unset

ktlint_property_naming_constant_naming = pascal_case
