*.iml
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

.idea/*
!.idea/dictionaries/
!.idea/dictionaries/__projectName__.xml
!.idea/icon.png
!.idea/icon_dark.png
!.idea/codeInsightSettings.xml
!.idea/detekt.xml
!.idea/ktlint-plugin.xml
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/Project_Default.xml
build/

.kotlin

node_modules
.reg
